.bit/
.cache-loader
.devcontainer/data
.docusaurus
.DS_Store
.env
.eslintcache
.grunt
.heft
.idea/
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.yarn-integrity
.yarn/
*.log
*.pid
*.pid.lock
*.seed
*.tgz
**/.rush/temp/
**/*.js.map
**/*/.env
**/*/*.tfvars
**/*/lib/
**/*/node_modules/
/.changelog
/bin/
/node_modules/
apps/app_old
bower_components
build/
common/autoinstallers/*/.npmrc
common/deploy/
common/temp/
coverage
jspm_packages/
lib-cov
node_modules/
npm-debug.log*
public/
src/.tsconfig
src/functions/database/types/
template/src/__tests__/__snapshots__/
yarn-error.log*
tsdoc-metadata.json
temp/
dist/
.terraform/
.terraform.*
.service.json